
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 No encontrado</h2>
                <div class="error-details">
                    Al parecer estas perdido
                </div>
                <div class="error-actions">
                    <a routerLink="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        inicio </a>
                </div>
            </div>
        </div>
    </div>
</div>
