<div class="container">
  <input [(ngModel)]="searchText" placeholder="Buscar" class="d-flex justify-content-end">
  <table  class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Comentario</th>
        <th>Editar / Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos  | buscar: { codigo: searchText, nombre:searchText,  precio: searchText, stock: searchText, comentario: searchText}; let i=index;">
        <th>{{producto.idProductos}}</th>
        <td>{{producto.codigo}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.stock}}</td>
        <td>{{producto.comentario}}</td>
        <td class="justify-content-end d-flex align-items-baseline">
          <i class="far fa-edit ml-4 mr-3" title="Editar" data-toggle="modal" data-target="#editar"
            (click)=" this.editar = producto.idProductos"></i>
          <i class="fas fa-trash-alt" title="Eliminar" data-toggle="modal" data-target="#eliminar"
            (click)="this.eliminar = producto.idProductos"></i>
          <i class="far fa-eye ml-3" title="Detalles" data-toggle="modal" data-target="#ver"
            (click)="getOne(producto.idProductos)"></i></td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ editar }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>confirmar eliminacion de {{ eliminar }}</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-danger"(click)="delete(this.eliminar)" data-dismiss="modal">Eliminar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="ver" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalles de {{ prod.nombre}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Producto id: {{ prod.idProductos }}</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
