<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand ml-5" href="#">Ventas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item mr-5">
        <a class="nav-link" routerLink="/inventario" routerLinkActive="active">Inventario</a>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link" routerLink="/caja" routerLinkActive="active">Caja</a>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link" routerLink="/ventas" routerLinkActive="active">Ventas</a>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link " routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
      </li>
    </ul>
  </div>
</nav>