.caja{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
#caja1{
    height: 500px; 
    background-color: rgba(90, 80, 80, 0.1);
}
#caja2{
    height: 330px; 
    background-color: rgba(90, 80, 80, 0.1); 
}
#caja3{
    height: 100px; 
    background-color: rgba(90, 80, 80, 0.1); 
}
input{
    width: 200px;
    display: block;
}