<div class="container">
  <div class="row mt-3">
    <div class="col-sm-6 border border-dark caja overflow-auto" id="caja1">
      <ul>
        <li *ngFor="let boleta of boletas">{{ boleta.nombre }} - {{boleta.comentario}} - ${{boleta.precio}}</li>
      </ul>
      {{boletas}}
    </div>
    <div class="col-sm-6">
      <div class="container caja border border-dark" id="caja2">
        <div *ngIf="producto != null" class="ml-5 mt-5">
            <h3>Detalles del producto</h3>
            <p>Nombre del producto: {{producto.nombre}}</p>
            <p>Detalles: {{producto.comentario}}</p>
            <p>codigo: {{producto.codigo}}</p>
            <h3>Precio: {{producto.precio}}</h3>
        </div>
      </div>
      <div class="container caja mt-3 border border-dark " id="caja3">
        <div class="d-flex justify-content-center">
          <h3 class="mt-3 ">Total :</h3>
          <h1 class="mt-3 ml-3">$ {{ total }}</h1>
        </div>
      </div>
      <div class="container d-flex justify-content-center">
          <input type="text" [(ngModel)]="idProducto"  (keyup.enter)="lanzar(idProducto)" autofocus placeholder="Ingrese código del producto" class="form-control mt-3 ml-4">
          <button class="btn btn-success ml-3 mt-3" (click)="nuevaVenta()">Pagar</button>
      </div>
    </div>
  </div>
</div>